<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>  
</head>
<body>
    <link rel='stylesheet' href='/css/style.css' />    
    <%- include('./partials/navBar') %>  
    
    <h1> Listado de Usuarios</h1>

<ul>
    <% for (let i=0; i < users.length; i++){ %>
    
    <li>
    <a href="/users/<%= users[i].id%>">
        <%=users[i].firstName%> 
        <%=users[i].lastName%> </a>
     </li>
    <%}%>
</ul>

    <footer>
        <%- include('./partials/footer') %>  
    </footer>
    
    
</body>
</html>